/**
 * ボタン:
 * `.modBtnNanika` - 何を書いておいたら良いかを考える。デザインガイドラインを参照する
 *
 *     @example
 *     a.modBtnNanika
 *       span ボタンの中身
 */

.modBtnNanika
  font-size: 20px
  color: red
  border: solid 1px #000
  border-radius: 4px
  font-weight: bold
  text-align: center
  padding: 3px 6px;